.div-body {
    background-color: beige;
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/fondo-textura-papel-verde_1627-3021.avif);

    .seccion-conteiner-tips {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }

    .seccion-conteiner-tips::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }
    .titulo-conteiner-tips {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 2;
    margin-left: 20px;
    color: white;
    text-align:start;
    }

    .link-animated{
        text-decoration:none;
        color: rgb(211, 208, 33);
        margin: 10px;
        padding: 10px;
        line-height: 2.8;
        transition: border-bottom 0.3s ease-in-out;


    }
    
    .link-animated:hover{
        border-bottom: 5px solid rgb(0, 0, 0);
        cursor: pointer;
    }

@media (min-width: 300px) and (max-width: 660px){   
        .seccion-conteiner-tips{
            height: auto;
            width: 100%;
            height: 40vh;
            display: flex;
            justify-content: center;
            text-align: start;
            opacity: 2;
        }

        .seccion-conteiner-tips::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
            opacity: initial;
        }

        .titulo-conteiner-tips{
            margin: 4px;
            padding: 2px;
            text-align: start;
            justify-content: flex-start;
        }

        .link-animated{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            text-align: start;
            justify-content: center;
            font-size: 16px;
            line-height: 1.6;
        }

        #h2-tip {
            line-height: 0;
            font-size: 18px;
        }

        #tip-h3 {
            line-height: 1.1 ;
            font-size: 1rem;
        }

        .p-3{line-height: 1.2;
            font-size: 0.5rem;
        }
}
}

.tip-conteiner{
    background: radial-gradient(ellipse at center, #155312 40%, #131d13d3 100%);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;

    #tip1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    } 

    .p-3 {
        width: 60%;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        line-height: 1.8;
        color: rgb(0, 0, 0);    }

    #tip-h3{font-weight: bolder;
        font-size: 24px;
        text-align: center;
        color: rgb(158, 156, 28);
        line-height: 2.5;
        transition: border-bottom 0.3s ease-in-out;


    }

    #tip-h3:hover{
        border-bottom: solid 3px rgb(211, 208, 33)
    }
    
   

    
}

