.navegacion {
    display: flex;
    align-items: center;
    border: solid 3px #032002;
    background-color: #1f691b;
    justify-content: space-around;
    text-align: center;

}

nav ul {display: flex;
    margin-right: 50px;
    text-align: center;
    width: 100vw;
    justify-content: space-around;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    justify-content: space-around;
}

nav ul li a .btn-nav {
    color: #CCF5AC;
    padding: 10px;
    margin: 2px;
    background-color: #59813a;
    text-decoration: none;
}

.btn-nav {
    font-weight:400;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 1.5vw;
    transition: background-color 0.3s;
}

.btn-nav:hover {
    background-color: #0f470d;
}

.menu-hamburguesa-nav {
    display: none; 
}

.icono-nav {
    display: none; 
}

// Media q para mobile 

@media (max-width: 480px) {
    
    .navegacion {flex-direction: column;
        height: 100%;
        text-align: center;
    }

    nav ul {display: none;
        width: auto;
        text-align: center;
        }

    nav ul li {
        justify-content: center;
        width: 100vw
    }

    nav ul li a .btn-nav {;
        font-size : 1rem;
        padding : 5px;
        margin : 0;
    }

    
    .menu-hamburguesa-nav {
        display: block;
        margin-top: 10px; 
    }

    .icono-nav {
        display: block;
        font-size: 1.5rem; 
        cursor: pointer;
        color: #CCF5AC; 
    }

    .navegacion ul.active {display:flex;
        flex-direction: column;
        align-items: center;
    }

    .navegacion ul.active li {
        margin: 2px 0;
        

    }

    }